@model DTO.Reservation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lastname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Lastname)
        </dd>
        <dt>
            Firstname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Firstname)
        </dd>
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.email)
        </dd>
        <dt>
            Arrival
        </dt>

        <dd>
            @Model.StartDate.Date.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Departure
        </dt>

        <dd>
            @Model.EndDate.Date.ToString("dd/MM/yyyy")
        </dd>
        <dt>
            Room name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt>
            Option
        </dt>

        <dd>
            Single @Html.DisplayFor(model => model.Room.Single)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
