@model IEnumerable<DTO.Reservation>

@{
    ViewBag.Title = "List of Reservations";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Arrival
        </th>
        <th>
            Departure
        </th>
        <th>
            Room name
        </th>
        <th>
            Client name
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.StartDate.Date.ToString("dd/MM/yyyy")
        </td>
        <td>
           @item.EndDate.Date.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(model => item.Room.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.Client.Lastname)
            @Html.DisplayFor(model => item.Client.Firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
